<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.caregg.o2o.business"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 拨电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoTitle" 
        android:name="cn.caregg.o2o.business.app.BusinessApplication" 
        android:supportsRtl="true">
        <activity
            android:name="cn.caregg.o2o.business.test.TestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 测试库 -->
        <uses-library android:name="android.test.runner"/>
        <activity android:name="cn.caregg.o2o.business.ui.activity.LoginActivity"></activity>
        <activity android:name="cn.caregg.o2o.business.ui.activity.NavigationManagerActivity"></activity>
        <activity android:name="cn.caregg.o2o.business.ui.activity.BusinessInfoActivity"></activity>
        <activity android:name="cn.caregg.o2o.business.ui.activity.RestPasswdActivity"></activity>
        <activity android:name="cn.caregg.o2o.business.ui.activity.ForgetPasswdActivity"></activity>
        <activity android:name="cn.caregg.o2o.business.ui.activity.SuggestionFeedbackActivity"></activity>
        
    </application>
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="cn.caregg.o2o.business"
        android:label="TEST"></instrumentation>
</manifest>